
@charset "UTF-8";

/*----------------------------------------*/
/* element: */
/*----------------------------------------*/
body {
    
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    background-color: black;
    background-image: url(../IMG/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/*----------------------------------------*/
/* classes: */
/*----------------------------------------*/
.text {
    
    font-family: arial;
    color: white;
    
}

/*----------------------------------------*/
/* ids: */
/*----------------------------------------*/
#home_image {
    
    max-width: 65%;
    max-height: 65%;
    
}

#promo_image {
    
    max-width: 100%;
    max-height: 100%;
    
}

#vid1 {
    
    width: 90%;
    height: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

#div11 {
    
    text-align: center;
    display: inline-block;
    width: 98%;
    height: 36vh;
    
}

#div2c {
    
    width: 98%;
    height: 60vh;
    
}

#div21 {
    
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    
}

#div22 {
    
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    
}

/*----------------------------------------*/
/* mobile/tablet: */
/*----------------------------------------*/
@media screen and (max-width: 800px) {
    
    h2.text {
        
        font-size: 20px;
        
    }

    #div11 {
    
        text-align: center;
        display: inline-block;
        width: 100%;
    
    }
    
    #div21 {
        
        display: block;
        width: 100%;
        vertical-align: top;
        
    }

    #div22 {
    
        display: block;
        width: 100%;
        vertical-align: top;

    }

}
